---
layout: default
---
<article itemscope itemtype='https://schema.org/BlogPosting' class='mb-8'>
  <header class='mb-8'>
    {% include post-cover.html post=page %}
    <h1 class='text-3xl sm:text-4xl lg:text-5xl font-extrabold leading-tight mb-4' itemprop='headline'>
      {{ page.title }}
    </h1>
    <div class='flex flex-wrap items-center text-sm text-text-secondary dark:text-text-secondary-dark gap-4'>
      {% include post-categories-list.html post=page %}
      <time class='flex items-center gap-1' datetime='{{ page.date }}' itemprop='datePublished'>
        🗓️ {{ page.date | date: "%B %-d, %Y" }}
      </time>
    </div>
  </header>
  <section class='py-4 prose dark:prose-invert max-w-none lg: prose-lg' itemprop='articleBody'>
    {{ content }}
  </section>
  <footer class='mt-8'>
    <div class='flex flex-wrap gap-2'>
      {% for tag in page.tags %}
      <a href='/tag/{{ tag | slugify }}' class='tag-badge' rel='tag'>{{ tag }}</a>
      {% endfor %}
    </div>
  </footer>
</article>
